/********************************************************************

Custom Grid

*********************************************************************/

*,
*::after,
*::before {
    box-sizing: border-box;
}

.row {
    max-width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 0px solid red;
}

@media only screen and (max-width: 480px) {
    /* For Phones: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    [class*="col-m"] {
        background: transparent;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
    [class*="col-m"] {
        background: transparent;
    }
}

@media only screen and (min-width: 1000px) {
    /* For Desktops: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    [class*="col-"] {
        border: 0px solid black;
    }
}

body {
    overflow-x: hidden;
}


/* -------------------------------- 

Header Section 

-------------------------------- */

#header {
    height: 100vh;
    background: url(../images/bg2.jpg);
    background-position: center;
    background-size: 100% auto;
    overflow: hidden;
}

.headerContainerWrapper {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    -webkit-transition: top 500ms ease;
    -moz-transition: top 500ms ease;
    -o-transition: top 500ms ease;
    transition: top 500ms ease;
    /* enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.headerContainerShadow {
    background-color: rgba(0, 0, 0, 0.0);
    border-bottom: 0px solid #eee;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.0);
    position: relative;
    z-index: 999999;
    /* to place the header above all elements */
}

.scrollActive .headerContainerWrapper {
    position: fixed;
}

.scrollActive .headerContainerShadow {
    background: #FFF;
    border-bottom: 2px solid #eee;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 999999;
    /* to place the header above all elements */
}

.caption-text {
    position: absolute;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 50px;
}

.logo p {
    color: #000;
    text-align: center
}

.nav-links nav {
    float: right;
    text-align: center;
}

.nav-links nav ul li {
    display: inline-block;
    width: 100px;
}

.nav-links nav ul li a {
    font-size: 15px;
}

#about {
    height: 100vh;
    line-height: 100vh;
}

#portfolio {
    height: 100vh;
}


/*==============================================================================================*/


/* Common style */

.grid {
    /*margin: 40px auto 120px;
    max-width: 1000px;
    width: 90%;*/
}

.grid a {
    /*float: left;
    max-width: 250px;
    width: 25%;
    color: #333;*/
}

.grid a:nth-child(odd) {
    margin: 30px 0 -30px 0;
}

.grid figure {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: #333;
}

.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.grid figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.grid figcaption h2 {
    margin: 0 0 20px 0;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 130%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.grid figcaption p {
    padding: 0 20px;
    color: #aaa;
    font-weight: 300;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}

.grid figure button {
    position: absolute;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* Style for SVG */

.grid svg {
    position: absolute;
    top: -1px;
    /* fixes rendering issue in FF */
    z-index: 10;
    width: 100%;
    height: 100%;
}

.grid svg path {
    fill: #fff;
}


/* Hover effects */

.grid a:hover figure img {
    opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.grid a:hover figcaption p {
    opacity: 0;
}

.demo-1 body {
    background: #3498db;
}

.demo-1 .grid figure button,
.demo-3 .grid figure button {
    top: 50%;
    left: 50%;
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
    transform: translateY(-50%) translateX(-50%) scale(0.25);
}

.demo-1 .grid a:hover figure button,
.demo-3 .grid a:hover figure button {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
}